.topPage {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {

    .topPage {
        flex-direction: column-reverse;
    }
    
    .topPageMain {
        order: 1;
    }
}