.navContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    
}

.navItem{
    margin: 0;
    list-style: none;
}

.navItem {
    cursor: pointer;
    padding: 4px 15px;
    border-radius: 5px;
    transition: 200ms;
}

.navItem:hover {
    background-color: white;
    color: rgb(0, 0, 0);
}