.imageArticle {
    margin: 10px;
}

.imageArticle img {
    width: 100%;
    padding: 5px 0;
    border-top: solid 2px rgb(167, 167, 167);
    border-bottom: solid 2px rgb(167, 167, 167);
}

.imageArticle h4 {
    margin: 10px;
}