:root {
  --border-color: rgb(167, 167, 167);
  --backish-color: rgb(20, 19, 19);
}

@font-face {
  font-family: chomsky;
  src: url(../public/fonts/chomsky-webfont.woff);
}

@font-face {
  font-family: chomsky;
  src: url(../public/fonts/chomsky-webfont.woff2);
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

#root,
body {
  min-height: 100%;
  margin: 0;
  
}

#root {
  display: flex;
  flex-direction: column;
}

span {
  font-weight: 700;
}

img {
  filter: grayscale(1);
}

h2,
h3,
h4,
h5 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}